<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人注册</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/register.css">


</head>

<body>
    <div class="register-outer">
        <div class="header">
            <a href="index.html">
                <img src="../images/login/logo.jpg" alt="logo">
            </a>
            <div class="text">
                <span>欢迎注册</span>
            </div>
            <div class="have-account">已有账号？<a href="login.html">请登录</a>
            </div>
        </div>
    </div>
    <div class="register-content w">
        <div class="register-process">
            <div class="step1">1.填写账号信息</div>
            <div class="step2">2.注册成功</div>
        </div>
        <div class="account-register">
            <form action="http://127.0.0.1:8080/users/login" target="_blank" method="get">
                <div class="register-username">
                    <input type="text" name="id" placeholder="  邮箱/用户名/登录手机" />
                </div>
                <div class="register-password">
                    <input type="password" name="password" placeholder="  密码" />
                </div>
                <input type="submit" value="注册" class="register">
            </form>

            <!-- <div class="register-username">
                <input type="text" name="username" placeholder="  邮箱/用户名/登录手机" />
            </div>
            <div class="register-password">
                <input type="password" name="password" placeholder="  密码" />
            </div>
            <div class="register">注册</div> -->

            <div class="other-register">
                <a href="javascript:;" class="item-person">企业用户注册</a>
                <a href="javascript:;" class="outer-person">海外用户注册</a>
            </div>
        </div>
       <!--  <table border="1">
            <thead>
            <tr>
                <td>id</td>
                <td>用户名</td>
                <td>年龄</td>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>id</td>
                    <td>用户名</td>
                    <td>年龄</td>
                </tr>
                <tr>
                    <td>id</td>
                    <td>用户名</td>
                    <td>年龄</td>
                </tr>
            </tbody>
        </table> -->
    </div>
    <!-- 底部开始 -->
    <div class="footer">
        <div class="other">
            <a href="javascript:;">关于我们 |</a>
            <a href="javascript:;">联系我们 |</a>
            <a href="javascript:;">人才招聘 |</a>
            <a href="javascript:;">商家入驻 |</a>
            <a href="javascript:;">广告服务 |</a>
            <a href="javascript:;">手机京东 |</a>
            <a href="javascript:;">友情链接 |</a>
            <a href="javascript:;">销售联盟 |</a>
            <a href="javascript:;">京东社区 |</a>
            <a href="javascript:;">京东公益 |</a>
            <a href="javascript:;">English Site</a>
        </div>
        <div class="versions">
            <p class="copyright">Copyright © 2004-2020 京东JD.com 版权所有</p>
        </div>
    </div>
    <!-- 底部结束 -->
</body>

</html>