.cart-body {
    width: 990px;
    height: 586px;
    margin: 128px 194.429px 0;
}

.cart-body .cart-header .amount-sum {
    width: 990px;
    height: 40px;
    line-height: 40px;
    margin: 10px 0 0;
}

.cart-body .cart-header .amount-sum {
    color: #e2231a;
    font-size: 16px;
    font-weight: bold;
}

.cart-body .cart-header .amount-sum em {
    margin: 0 3px;
}

.cart-body .cart-thead {
    width: 990px;
    height: 33px;
    background-color: #f3f3f3;
    margin: 0 0 10px;
    padding: 5px 0;
}

.cart-body .cart-thead .cart-left {
    float: left;
}

.cart-body .cart-thead .cart-left li {
    float: left;
    height: 43px;
    line-height: 43px;
    margin: 0 10px;
    color: #434343;
    font-size: 12px;
}

.cart-body .cart-thead .cart-right {
    float: right;
}

.cart-body .cart-thead .cart-right li {
    float: left;
    height: 43px;
    line-height: 43px;
    margin: 0 50px;
    color: #434343;
    font-size: 12px;
}

.cart-body .cart-item-list {
    width: 990px;
    height: 209px;
}

.cart-body .cart-item-list .shop {
    width: 979px;
    height: 30px;
    padding: 0 0 0 11px;
    margin-top: 10px;
}

.cart-body .cart-item-list .shop a {
    color: #666666;
    font-size: 12px;
    font-weight: bold;
}

.cart-body .cart-item-list .cart-item {
    width: 990px;
    height: 176px;
    line-height: 176px;
    border: 1px solid #f1f1f1;
    border-top: 2px solid #aaa;
    position: absolute;
}

.cart-body .cart-item-list .cart-item .left {
    float: left;
    height: 179px;
}

.cart-body .cart-item-list .cart-item img {
    width: 80px;
    height: 80px;
    margin-top: 35px;
}

.cart-body .cart-item-list .cart-item .left li {
    float: left;
    margin: 0 10px;
}

.cart-body .cart-item-list .cart-item .left .p-msg {
    font-size: 12px;
    color: #333;
}

.cart-body .cart-item-list .cart-item .right {
    float: right;
    height: 179px;
}

.cart-body .cart-item-list .cart-item .right li {
    float: left;
    margin: 0 10px;
    color: #666;
    font-size: 12px;
}

.cart-body .cart-item-list .cart-item .right li:nth-child(1) {
    margin-right: 100px;
}

.cart-body .cart-item-list .cart-item .right .p-price {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.cart-body .cart-item-list .cart-item .right a:hover {
    color: #e2231a;
}

.cart-body .cart-floatbar {
    width: 990px;
    height: 50px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.cart-body .cart-floatbar .toolbar-left {
    width: 363px;
    height: 50px;
    line-height: 50px;
    float: left;
}

.cart-body .cart-floatbar .toolbar-left li {
    float: left;
    margin: 0 5px;
    color: #666;
    font-size: 12px;
}

.cart-body .cart-floatbar .toolbar-left li a {
    color: #666;
    font-size: 12px;
    margin: 0 5px;
}

.cart-body .cart-floatbar .toolbar-left li a:last-child {
    font-weight: bold;
}

.cart-body .cart-floatbar .toolbar-left .select-all {
    color: #434343;
}

.cart-floatbar .toolbar-right {
    float: right;
    width: 350px;
    height: 57px;
    line-height: 57px;
}

.cart-floatbar .toolbar-right li {
    float: left;
    margin: 0 10px;
    color: #999;
    font-size: 12px;
}

.cart-floatbar .toolbar-right li em {
    color: #e2231a;
    font-weight: bold;
}

.cart-floatbar .toolbar-right .amount-sum em {
    margin: 0 3px;
}

.cart-floatbar .toolbar-right .price-sum em {
    font-size: 16px;
}

.cart-floatbar .toolbar-right .btn-area {
    width: 94px;
    height: 52px;
    text-align: center;
    background-color: #e2231a;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.cart-floatbar .toolbar-right .btn-area:hover {
    cursor: pointer;
}

.cart-body .cart-floatbar .toolbar-left li a:hover,
.cart-body .cart-floatbar .toolbar-right li a:hover {
    color: #e2231a;
}

.check-cart-item {
    background-color: #fff4e8;
}